body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.strip {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-top: 30px;
}

.top-strip {
    background-color: #1d2d50;
}

.bottom-strip {
    background-color: #133b5c;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 10px;
    background-color: #1e5f74;
    color: #fcdab7;
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

.top-strip .box:first-child {
    width: calc(
        200px * 3 + 20px
    ); /* 2 divlik alan kaplaması için genişlik ayarı */
}
#box-info {
    width: calc(200px + 45px);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.box-info-alt-kutucuk {
    min-height: 200px;
    background-color: #236d85;
    border-radius: 10px;
    padding: 10px;
}

.box:hover {
    transform: scale(1.1);
}
.text-p {
    color: #fcdab7;
    text-align: justify;
}
.iletisim-span {
    color: #d7b545;
    font-size: 18px;
    font-weight: 600;
}
.e-posta-link {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    cursor: text;
}

.dillerim {
    margin-left: 0px;
    list-style-type: none;
    padding-left: 0px;
    gap: 10px;
}
.dil-li {
    text-align: start;
    margin-left: 0px;
    margin-bottom: 10px;
}

.projeler {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: #ffdf6dd9;
    width: 100%;
}

.projelerim-baslik {
    font-size: 1.5rem;
    color: #000000;
    background-color: #e3c66e;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    max-width: 600px;
}

.proje-kutu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-top: 30px;
}

.project-kutu {
    cursor: pointer;
    transition: transform 0.3s;
    min-height: 240px;
    width: 27vw;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffdf6dd9;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: center;
    overflow: hidden;
}

.project-kutu:hover {
    transform: scale(1.1); /* Kutuyu büyütür */
}

.project-kutu p {
    word-wrap: break-word; /* Uzun kelimelerin taşmasını engeller */
    overflow-wrap: break-word; /* Daha geniş tarayıcı desteği */
    word-break: break-word; /* Uzun kelimelerin taşmasını önler */
    white-space: normal; /* Metnin alt satıra geçmesini sağlar */
    text-align: justify; /* İsteğe bağlı: Metni ortalar */
    margin: 0; /* Varsayılan margin'i kaldırır */
    padding: 10px;
}

.project-kutu img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
